* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------- */

@font-face {
    font-family: Oxygen;
    src: url("assets/oxygen.regular.ttf");
}

@font-face {
    font-family: Cousine;
    src: url("assets/Cousine-Regular.ttf");
}

:root {
    font-size: 10px;
    font-family: Oxygen;
    color: #232323;
}

body {
    padding: 20px;
    background-color: #fffaf4;
}

.header {
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
}

hr {
    border: 1px solid #9d9d9d;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: 3rem 1rem;
}

/* -------------------- */

.widget-container {
    border-bottom: 0.2rem solid #686868;
    border-left: none;
    border-right: none;
    font-size: 1.4rem;
}

.widget-container.closed {
    border-bottom: none;
}

.widget-header {
    background-color: #686868;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
}

.widget-header:hover {
    background-color: #575757;
    cursor: pointer;
}

.widget-title {
    height: 1.4rem;
    margin: 0.5rem 0;
    padding-left: 1.4rem;
    font-size: 1.2rem;
    color: #ededed;
    user-select: none;
}

.widget-extra {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.widget-button {
    background-color: #e2e2e2;
    height: 1.9rem;
    margin: 0.2rem;
    border: 0.3rem solid #e2e2e2;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.2rem #494949;
}

.widget-button:hover {
    background-color: #cacaca;
    border: 0.2rem solid #cacaca;
    cursor: pointer;
}

.widget-dropdown {
    position: relative;
    padding: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    border-radius: 0.5rem;
}

.widget-dropdown:hover {
    background-color: #cacaca;
    cursor: pointer;
}

.widget-dropdown-icon-current {
    height: 1.9rem;
    padding-right: 0.3rem;
}

.widget-dropdown-icon-select {
    height: 1rem;
}

.widget-dropdown-options {
    position: absolute;
    left: 0px;
    top: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    border: 1px solid #686868;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.3rem #646464;
    overflow: hidden;
}

.widget-dropdown-options div {
    padding: 0.5rem;
}

.widget-dropdown-options div:hover {
    background-color: #cacaca;
    cursor: pointer;
}

.widget-dropdown-options img {
    height: 2rem;
}

.widget-content {
    background-color: #e2e2e2;
    padding: 0.01px;
    min-height: 1rem;
}

/* -------------------- */

.user-input-wrapper {
    display: flex;
    flex-direction: row;
    padding: 1.2rem;
    overflow: hidden;
}

.user-input-icon {
    height: 2rem;
    margin-top: 0.6rem;
    margin-right: 1rem;
}

.user-input {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 0.6rem;
    border-radius: 0.2rem;
    overflow: hidden;
    overflow-x: scroll;
    font-size: 1.5rem;
}

.user-input:focus {
    outline: none;
}

/* -------------------- */

.messages {
    background-color: #ffffff;
    margin: 1.2rem;
    padding: 0.6rem;
    overflow-x: scroll;
    white-space: nowrap;
    font-size: 1.4rem;
    font-family: Cousine;
}

.messages span {
    display: inline-block;
    background-color: #e3e3e3;
    margin: 0rem;
    width: var(--max-width);
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    padding: 0.2rem;
}

.messages.use-gaps {
    padding: 0.3rem;
}

.messages.use-gaps span {
    margin: 0.3rem;
}

/* -------------------- */

.baseline-alphabet {
    margin: 1.2rem;
    padding: 0.3rem;
    background-color: #ffffff;
    overflow-x: scroll;
    white-space: nowrap;
    font-size: 1.4rem;
    font-family: Cousine;
}

.baseline-alphabet span {
    display: inline-block;
    background-color: #e3e3e3;
    width: var(--max-width);
    margin: 0.3rem;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
}

/* -------------------- */

.chart-container {
    padding: 1rem;
}

.chart-container canvas {
    height: 35rem;
}

/* -------------------- */

.stats-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 68rem;
    padding: 1rem 2rem;
}

.stats-pair {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    font-size: 1.6rem;
}

.stats-label {
    font-weight: bold;
    width: 22rem;
}

.stats-value {
    width: 8rem;
}
